/* on PC  */
@media (min-width: 64em) {
}

/* on tablet & mobile  */
@media (max-width: 63.9375em) {
  #nav .subnav a {
    padding: 5px 12px;
  }

  .btn {
    padding: 15px 16px;
  }
  .contact-form .form-control {
    padding: 15px;
  }
  #footer .social-list {
    font-size: 32px;
  }

  #footer > .social-list > a {
    margin: 0 8px;
  }

  #footer .copyright a {
    padding: 12px 0;

    /* khi padding len tren cham vao cac icon, dung inline-block thi cai the p nay se bi day xuong */
    display: inline-block;
  }

  
  .contact-info {

    line-height: 2;
  }

}

/* on tablet  */
@media (min-width: 46.25em) and (max-width: 63.9375em) {

}

/* on mobile  */
@media (max-width: 46.1875em) {
  .s-full-width,
  .s-col-full {
    width: 100% !important;
  }

  .s-mt8 {
    margin-top: 8px !important;
  }

  #header {
    overflow: hidden;
  }
  #header .search-btn {
    display: none;
  }

  #header .mobile-menu-btn {
    display: block;
  }

  #nav {
    display: block;
  }

  #nav > li {
    display: block;
  }

  #nav li a {
    padding: 1px 24px;
  }

  #nav .subnav {
    /* ve mac dinh  */
    position: initial;
    background-color: #333;
  }

  #nav .subnav a {
    color: #fff;
    padding: 5px 41px;
  }

  #content .member-img {
    width: 60%;
  }

  .contact-form {
    margin-top: 32px;
  
  }
}
