/* Reset CSS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* common css */
html {
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}


.btn {
  color: white;
  background-color: black;
  text-decoration: none;
  padding: 11px 16px;
  display: inline-block;
  margin-top: 15px;
  border: none;
  appearance: none;
  -webkit-appearance: none;
}
.btn:hover {
  color: #000;
  background-color: #ccc;
  cursor: pointer;
}

.row {
  margin-left: -8px;
  margin-right: -8px;
}

.row::after{
  content: "";
  display: block;
  clear: both;
}

.col {
  float: left;
  padding-left: 8px;
  padding-right: 8px;
}

.col-third {
  width: calc(100%/3);
}

.col-half{
  width: 50%;
}

.col-full{
  width: 100%;
}

.text-white {
  color: white !important;
}

.text-center {
  text-align: center !important; 
}

.mt8 {
  margin-top: 8px !important;
}

.mt16 {
  margin-top: 16px !important;
}

.mt32 {
  margin-top: 32px !important;
}

.right-pull{
  float: right !important;
}

/* main css  */

#main {
}
/* begin: header  */
#header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 46.4px;
  background-color: black;
  z-index: 1;
}
#nav {
  display: inline-block;
}
#nav,
.subnav {
  list-style-type: none;
}

#nav li {
  position: relative;
}

#nav > li {
  display: inline-block;
}
#nav > li:first-child {
  display: inline-block;
}

#nav > li > a {
  color: white;
  text-transform: uppercase;
}

#nav li a {
  text-decoration: none;
  line-height: 46.4px;
  padding: 0 24px;
  display: inline-block;
}
#subnav li a {
  display: block;
}

#nav > li:hover > a:hover,
#nav .subnav li:hover {
  color: black;
  background-color: #ccc;
}

#nav .subnav {
  /* khoảng cách top bằng chiều cao của thẻ li cha  */
  top: 100%;
  left: 0;
  display: none;
  position: absolute;
  background-color: white;
  box-shadow: 5px 5px 5px rgba(104, 107, 90, 0.342);
}

#nav li:hover .subnav {
  display: block;
}
#nav .subnav li {
  display: block;
}
#nav .subnav a {
  color: black;
  padding: 0 12px;
  line-height: 38px;
  min-width: 160px;
}

#nav .nav-arrow-down {
  font-size: 12px;
}

#header .mobile-menu-btn {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
}

#header .mobile-menu-btn:hover{
  background-color:#ccc;
}

#header .mobile-menu-btn:hover .menu-icon {
  color: #000;
}

#header .mobile-menu-btn,
#header .search-btn {
  float: right;
  padding: 0 21px;
}
#header .ti-menu,
#header .search-icon {
  color: white;
  font-size: 20px;
  line-height: 46.4px;
}

#header .search-btn:hover {
  background-color: #f44336;
  cursor: pointer;
}

/* end: header  */

/* begin: slider  */
#slider {
  position: relative;
  margin-top: 46.4px;
  padding-top: 50%;
  background: url(../img/slider/chicago.jpg) top center / cover
    no-repeat;
}

#slider .text-content {
  position: absolute;
  bottom: 42px;
  color: white;
  width: 100%;
  text-align: center;
}

#slider .text-heading {
  font-weight: 500;
  font-size: 24px;
 
}

#slider .text-description {
  font-size: 15x;
  margin-top: 25px;
  text-shadow: 0  0  4px #000;
}

/* end: slider */

/* begin: content  */
#content {
 
}

#content .content-section {
  width: 800px;
  max-width: 100%;
  padding: 64px 0 calc(64px + 48px);
  margin-left: auto;
  margin-right: auto;
  padding-right: 16px;
  padding-left: 16px;
}

#content .section-heading {
  font-size: 30px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 3px;
}

#content .section-sub-heading {
  font-size: 15px;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 15px;
  font-style: italic;
  opacity: 0.6;
}

#content .about-text {
  font-size: 15px;
  text-align: justify;
  line-height: 1.4;
}
/* member list  */
#content .members-list {
  margin-top: 32px;
}

#content .member-name {
  margin-bottom: 15px;
  font-size: 15px;
}

#content .member-img {
  width: 154px;

  border-radius: 4px;
}

/* tour section  */

.tour-section {
  background-color: black;
}

.tickets-list {
  margin-top: 42px;
  background-color: white;
}

.tickets-list li {
  font-size: 15px;
  padding: 11px 16px;
  border: #ddd 1px solid;
  color: #757575;
  list-style-type: none;
}

.tickets-list .sold-out {
  background-color: #f44336;
  color: #ffffff;
  font-size: 15px;
  padding: 2px 8px;
  margin-left: 16px;
}

.tickets-list .quantity {
  color: #ffffff;
  background-color: black;
  float: right;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  text-align: center;
  line-height: 24px;
  margin-top: -3px;
}
/* end: tour section  */

/* begin: tour places  */

.places-list {
  margin-top: 16px;
}


.place-img {
  width: 100%;
  display: block;
}

.place-img:hover {
  opacity: 0.6;
}

.place-body {
  background-color: white;
  padding: 16px;
  font-size: 15px;
}

.place-heading {
  font-size: 15px;
  font-weight: 600;
}

.place-time {
  margin-top: 15px;
  color: #757575;
}

.place-description {
  margin-top: 15px;
  line-height: 1.4;
}


/* end: tour places  */

/* begin: Contact  */
.contact-content {
  padding: 32px 32px 0;
}

.contact-info {
  font-size:16px;
  line-height: 1.5;
}

.contact-info i[class*="ti-"] {
  width: 30px;
  display: inline-block;
}

.contact-form {
  font-size: 15px;
}

.contact-form .form-control {
    padding: 10px;
    border: solid 1px #ccc;
    width: 100%;
    
}

#contact  .contact-info a {
  color: #7531ee;
  opacity: 0.8;
}

#contact  .contact-info a:hover {
  opacity: 1;
}

/* end: contact  */

/* begin: map section  */

.map-section img {
  width: 100%;
}

#footer {
  padding: 64px 16px ;
}

#footer .social-list{
  font-size: 18px;
}

#footer > .social-list > a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.6);
}

#footer  .social-list  a:hover {
  color: rgba(0, 0, 0, 0.4);
}

#footer .copyright{
  margin: 15px;
  color: rgba(0, 0, 0, 0.6);
}

#footer .copyright a{

  color: rgba(0, 0, 0, 0.6);
}
